<nav class="bg-white w-full shadow-md">
  <ul class="flex gap-10 pr-4 pl-5 py-2 text-lg [>&>*]:uppercase [&>*]:flex [&>*]:items-center justify-end">
    <li class="mr-auto"><a href="/" class="img"><img src="/website-images/logo.png" alt="logo"
          class="w-20 h-20 rounded-full bg-white object-cover"></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/products/All">Products</a></li>
    <li><a href="/cart">Cart</a></li>
  </ul>
</nav>