<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital products</title>
    <link href="/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a627a8e04.js" crossorigin="anonymous"></script>

</head>

<body class="h-screen">

    <%- include('partials/header.ejs')%>
        <main class="mt-24">
            <img src="website-images/header-windTurbine.jpg" alt="beach"
                class="w-full h-[calc(100vh-6rem)] object-cover mt-24">
            <div class="flex flex-col justify-center items-center absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
                <h1 class="text-white w-[75vw] text-center text-4xl">Check our wide selection of eco-friendly and reusable products, making eco-friendly living effortless and enjoyable</h1>
                <!-- buy now link  -->
                <a href="/products" class="bg-white text-black px-10 py-3 rounded-full mt-10">Buy now</a>
        </main>
</body>

</html>